@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;0,14..32,400;0,14..32,500;0,14..32,600;0,14..32,700;0,14..32,800;1,14..32,400&display=swap');
@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  
}

:root {
  --gray-bg: #EFEFEF;
  --gray-mid: #E0E0E0;
  --text-dark: #111111;
  --text-gray: #666666;
  --white: #FFFFFF;
}

html { scroll-behavior: smooth; }

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--gray-bg);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter', sans-serif;
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; font-family: 'Inter', sans-serif; }
input, select, textarea { font-family: 'Inter', sans-serif; }